.facts-card {
   background-color: #87CEEB;
   border: 5px solid #333333;
   border-radius: 10px;
 }
 
 .facts-header {
   margin: 10px;
   background-color: #87CEEB;
   border-color: #333333;
 }
 
 .facts-table {
   margin: 10px;
   background-color: #87CEEB;
   border: 5px solid #333333;
 }
 
 .facts-header-h3 {
   color: #333333;
   text-align: center;
 }
 
 /* Table row with background color */
 .facts-table tr {
   background-color: #87CEEB;
   color: #333333;
   padding: 15px;
   border: 2.5px solid #333333;
 }
 
 /* Table cell styling for consistency */
 .facts-table td {
   padding: 15px;
   border: 2.5px solid #333333;
   color: #333333;
   background-color: #87CEEB;
   text-align: center;
   font-size: 1.1rem;
   font-weight: 600; /* Make the writing a bit thicker */
 }
 
 .carousel-indicators {
   display: none;
 }
 
 .carousel-control-prev,
 .carousel-control-next {
   display: none;
 }
 