.home-card {
   background-color: #F5DEB3;
   border: 5px solid #333333;
   border-radius: 10px;
 }
 
 .home-header, .home-body {
   background-color: #F5DEB3;
 }
 
 .home-header {
   margin: 10px;
   border-color: #333333;
 }
 
 .home-title, .home-text {
   color: #333333;
   text-align: center;
 }