:root {
   --primary-color: #87CEEB ;
   --secondary-color: #333333;
   --text-color: #E6E6FA ;
 }
 
 /* Ensuring correct styles for the card */
 .card.layout-card {
   max-width: 120rem;
   background-color: var(--primary-color) !important;
   border: 10px solid var(--primary-color) !important;
   border-radius: 0 !important;
   color: white; /* Ensuring text is visible */
 }
 
 /* Title Styling */
 .title {
   color: #FFFFFF  ;
   text-align: center;
   padding-top: 20px;
 }
 
/* Navigation Bar */
.nav-bar {
   background-color: var(--secondary-color); /* Set the background color */
   padding: 4px;
   width: 100%; /* Ensure navbar takes up full width */
}

 /* Navigation Links */
 .nav-link-display {
   border: 2px solid var(--secondary-color);
   background-color: var(--text-color);
   width: 200px;
   text-align: center;
 }
 
 .nav-link-text {
   color: var(--secondary-color);
   display: block;
   padding: 10px 0;
   border-radius: 10px;
   transition: background-color 0.3s, color 0.3s;
 }
 
 .nav-link-text:hover,
 .nav-link-text.active {
   color: var(--text-color);
   background-color: var(--secondary-color);
 }
 
 /* Main Content */
 .main-content {
   padding: 1rem 0;
 }
 